:root {
  --primary-text-color: #212121;
  --title-text-kolor: #757575;
  --accent-color: #2196f3;
  --priamary-bg-color: #e5e5e5;
  --title-bg-color: #2f303a;
  --additional-text-color: #000000;
}
/* web+силки при фокусі                        #2196F3 */
/* основний колір                              #212121 */
/* додатковий колір                            #757575 */
/* колір головного заголовка+studio+адрес      #FFFFFF */
/* Колір контактів            rgba(255, 255, 255, 0.6) */
/* первиний колір фону                         #E5E5E5 */
/* вторинний колір фону                        #2F303A */
body {
  font-family: Roboto;
  color: var(--title-text-kolor);
  background-color: var(--priamary-bg-color);
}
/* шапка сайта */
/* Логотип */
.logo {
  text-decoration: none;
}
.logo-header-web {
  color: var(--accent-color);
}
.logo-header-studio {
  color: var(--additional-text-color);
}
/* списки */
.list {
  list-style: none;
}
/* навігація сайта */
.site-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.site-nav .link:hover {
  color: var(--accent-color);
}
.site-nav .link:focus {
  color: var(--accent-color);
}
/* контакти */
.link-contacts {
  color: var(--title-text-kolor);
}
.link-contacts:hover {
  color: var(--accent-color);
}
.link-contacts:focus {
  color: var(--accent-color);
}
.title-list {
  color: var(--primary-text-color);
}
.title-list-adres {
  color: #ffffff;
}
